{{- if .items }}
<section class="block-press-news" {{ partial "func/SetAnim.html" (dict "element" "block") }}>
  <div class="container">

    <div class="press-news-header">
      {{- with .heading }}
      <h2>{{ .title }}</h2>
      {{- with .cta }}
      <a href="{{ .url | safeURL }}" class="press-news-see-all">{{ .text }}</a>
      {{- end }}
      {{- end }}
    </div>

    <div class="press-news-grid">
      {{- range .items }}
      <div class="press-news-item">
        {{- with .date }}<p class="press-news-date">{{ . }}</p>{{ end }}
        <a href="{{ .url | safeURL }}" class="press-news-title" target="_blank" rel="noopener">{{ .title }}</a>
        {{- with .text }}<p class="press-news-text">{{ . }}</p>{{ end }}
        <a href="{{ .url | safeURL }}" class="press-news-read-more" target="_blank" rel="noopener">{{ if .cta }}{{ .cta }}{{ else }}Read More{{ end }}</a>
      </div>
      {{- end }}
    </div>

  </div>
</section>
{{- end }}
