{{- $carousel_params := dict "type" "fade" "rewind" true "autoplay" true "interval" 6000 "pauseOnHover" true "arrows" false "height" "400px" -}}
{{- with .carousel -}}
  {{- with .params -}}
    {{- $carousel_params = merge $carousel_params . -}}
  {{- end -}}
{{- end -}}
{{- if .items }}
<section class="block-stories-carousel" {{ partial "func/SetAnim.html" (dict "element" "block") }}>
  <div class="splide carousel js-carousel stories-splide" data-splide="{{ $carousel_params | jsonify }}">
    <div class="splide__track">
      <ul class="splide__list">
        {{- range .items }}
        <li class="splide__slide story-slide">
          <div class="story-slide-inner">
            <div class="story-slide-content">
              <h2>{{ .title }}</h2>
              {{- with .text }}<p>{{ . }}</p>{{ end }}
              {{- with .cta }}
              <a href="{{ .url }}" class="story-cta">{{ .text }}</a>
              {{- end }}
            </div>
            {{- with .image }}
            <div class="story-slide-image">
              {{- $img := resources.Get .src -}}
              {{- if $img -}}
                {{- $img = $img.Resize "1000x webp" -}}
                <img src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" alt="{{ .alt }}">
              {{- else -}}
                <img src="{{ .src | relURL }}" alt="{{ .alt }}">
              {{- end -}}
            </div>
            {{- end }}
          </div>
        </li>
        {{- end }}
      </ul>
    </div>
    <ul class="splide__pagination story-pagination"></ul>
  </div>
</section>
{{- end }}
