// https://github.com/twbs/bootstrap/blob/v5.3.8/scss/_variables.scss

$primary: #0099ff
$logo-height: 32px

// Header white, footer dark navy
$header-background-color: #ffffff
$footer-background-color: #0a2045
